h1 {
    color: purple;
}

h2 {
    color: purple;
}

h3 {
    color: purple;
}

ul {
    color: purple;
}

li {
    color: purple;
}

body {
    background-color: black;
}

p {
    color: orange;
    font-size: 18px;
}
header{
    text-align: center;
}