body{
    background-color: orange;
}
img{
    display: block;
    margin: 0 auto;
    width: 100%;
}
a{
    color: black;
}
a:hover{
    color: aqua;
    text-decoration: none;
}
#container{
    background-color: black;
    width: 65%;
margin: 20px auto;
padding: 20px;
border: 4px solid white;
border-radius: 20px;
}