h1 {
    color: purple;
}

h2 {
    color: purple;
}

h3 {
    color: purple;
}

ul {
    color: purple;
}

li {
    color: purple;
}

body {
    background-color: orange;
}

p {
    color: orange;
    font-size: 18px;
}
header{
    text-align: center;
}
#container{
    background-color: black;
    width: 950px;
    margin: 20px auto;
    border: 2px solid white;
    padding: 20px;
    border-radius: 20px;
}