body{
    background-color: blanchedalmond;

}
p{
    color: brown;
}
h2{
    color: darkgoldenrod;
}
h3{
    color: darkgoldenrod;
}
img{
    display:block;
        margin: 20px auto;
        width: 400px ;
}
header{
    text-align: center;
}
link{
    text-align: center;
}