 body {
     background-color: black;
 }

 img {
     display: block;
     margin: 0 auto;
     width: 50%;
 }

 a {
     color: black;
 }

 div {
     align-items: center;
     align-self: center;
     align-content: center;
 }

 a:hover {
     color: red;
     text-decoration: none;
 }

 #container {
     background-color: grey;
     width: 90%;
     margin: 20px auto;
     padding: 20px;
     border: 2px solid gold;
     border-radius: 20px;
     alignment-baseline: central;
 }

 h1 {
     color: black;
     font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
 }

 h2 {
     color: black;
       font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
 }

 h3 {
     color: black;
     text-align: center;
 }

 ul {
     color: red;
 }

 li {
     color: red;
 }


 p {
     color: black;
     font-size: 18px;
     font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
 }

 iframe {
     display: block;
     margin: 20px auto;
     width: 50%;
 }

 header {
     text-align: center;
     padding: 40px;
     border-bottom: 2px solid black;
     text-shadow: 2px 2px 5px black;
 }

 header h1 {
     text-align: center;
 }

 nav {
     text-align: center;
     border-bottom: 2px solid black;
     padding: 0%;

 }

 nav ul {

     text-align: center;
     list-style-type: none;
     padding: 0%;

 }

 nav li {
     text-align: center;
     display: inline-block;
 }

 nav li a {
     display: block;
     background-color: black;
     color: white;
     width: 200px;
     height: 40px;
     line-height: 40px;
     font-size: 25px;
     text-decoration: none;
     border-radius: 10px;
 }

 main h2 {
     text-align: center;
 }

 .multi_col {
     display: flex;
 }


 section,
 aside {
     border-radius: 20px;
     border: 2px solid;
     margin: 20px;
     padding: 20px;
 }

 section {
     width: 75%;

 }

 aside {

     display: block;
     unicode-bidi: isolate;
     width: 25%;
 }

 section img {
     border-radius: 10px;
     border: 2px solid white;
     width: 75%;
 }

 .img_style {
     width: 75%;
     border: 2px solid white;
     border-radius: 10px;
     box-shadow: 2px 2px 5px red;
     margin-top: 20px;
     margin-bottom: 20px;
 }

 /* mobile styles */
 header {
     background-image: url("Ghost.webp");
     background-repeat: no-repeat;
     background-size: cover;
     padding: 80px;
     opacity: 50%;
 }

 #container {
     margin: 10px;
     border: 2px solid;
 }

 nav {
     text-align: center;
 }

 nav ul {
     padding: 0;
     list-style-type: none;
     text-align: center;
 }

 nav li {
     display: block;
 }

 nav li a {
     display: block;
     height: 40px;
     line-height: 40px;
     text-decoration: none;
     font-size: 25px;
     margin-top: 10px;
 }

 nav li a :hover {
     background-color: red;
 }

 main {
     padding: 10px;
     margin: 10px;
 }

 .main_content {
     padding: 10px;
 }

 .col {
     margin: 10px;
 }

 .col img {
     border-radius: 10px;
     border: 2px solid;

 }

 footer {
     padding: 40px;
     text-align: center;
 }

 /* tablet styles*/
 @media(min-width: 768px) {
     nav {
         margin-top: 10px;
         margin-bottom: 10px;
         border-bottom: 4px solid;
         padding: 10px 0;
     }

     nav li {
         display: inline-block;
     }

     nav li a {
         display: inline;
         width: 150px;
         height: 40px;
     }

     .col img {
         width: 65%;
     }
 }

 /* desktop */
 @media (min-width: 1024px) {
     #container {
         width: 65%;
         margin: 20px auto;
     }

     .multi_col {
         display: flex;
     }

     .col {
         border: 2px solid;
         margin: 10px;
         padding: 10px;
         border-radius: 10px;
     }

     .col img {
         width: 190px;
     }
 }

 .gallary {
     display: flex;
 }